body {
margin-top: 1%;
font-family: 'Roboto', sans-serif;
overscroll-behavior: none; 
}

#navbar {
position: fixed;
top: 0;
left: 0;
width: 25%;
height: 100vh;
box-sizing: border-box;
border-right: 3px grey solid;
overflow: scroll;
}

#navbar header {
padding-left: 30px;
}

header {
font-size: 1.8em;
padding-top: 20px;
}

p {
  line-height: 1.5;
  padding-left: 2%;
}

section li {
margin:15px 0px 0px 20px;
line-height: 1.5;
}

main {
  position: absolute;
  left: 25%;
  width: 75%;
  padding: 0 2%;
  box-sizing: border-box;
}

#navbar ul {
list-style-type: none;
margin-bottom: 0;
}

#navbar li {
border-bottom: 1.5px grey solid;
border-top: 1.5px grey solid;
border-bottom-width: 0px;
padding: 8px;
padding-left: 45px;
position: relative;
left: -50px;
width: 100%;
}

a {
  text-decoration: none;
  color: black;
  line-height: 2;
  font-size: 1.2em;
}

code {
  background-color: #f7f7f7;
  white-space: pre-line; 
  display: block;
  border-radius: 5px;
  font-family: 'Roboto Mono', monospace;
  margin-left: 40px;
  padding: 1% 2%;
}

@media (max-width: 460px) {

#navbar {
  position: absolute;
  top: 0;
  width: 100%;
  max-height: 350px;
  border-bottom: 3px solid grey;
  border-right: none;
}

#navbar li {
  padding-left: 30px;
}

main {
  position: relative;
  margin-top: 360px;
  left: 0; 
  width: 100%
}

section li {
  margin: 15px 0;
}

code {
  margin-left: 10px;
}
}